body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.comment {
  background: lightblue;
  padding: 10px;
  margin: 1vw;
}

.header {
  font-size: 12;
  font-style: italic;
  color: darkslategrey;
}

.body {
  font-size: 14;
}

.votes {
  font-size: 12;
  color: darkslategrey;
}

.seesubcomments {
  font-size: 12;
}

.subcomments {
  margin-left: 2vw;
}

.input {
  padding: 10px;
  background: lightblue;
  margin-left: 1vw;
}

.infield {
  margin-left: 1vw;
}